.suggestion-card {
    
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.card-header {
    margin: 3%;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    flex: 1;
    margin: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column; /* 세로로 쌓이게 */
    align-items: flex-start; /* 왼쪽 정렬 */
    text-align: left;       /* 텍스트도 왼쪽으로 */
    
}


.name {
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
}

.time {
    margin-top: 0;
    font-size: 12px;
    color: #aaa;
}

.delete-btn {
    background: none;
    border: none;
    margin: 0;        /* 기존 margin 제거 */
    padding: 0;
    cursor: pointer;
    align-self: flex-start; /* 헤더 안에서 위쪽으로 정렬 */
}


/* 버튼 안 이미지 크기 */
.delete-btn img{
    width: 19px;   /* 필요에 따라 조절 */
    height: 19px;
}

.card-content {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin: 3%;
    margin-top: 8px;
    font-size: 16px;
    text-align: left;       /* 텍스트도 왼쪽으로 */
    color: #333;
}
