/* 전체 페이지 */
.suggestion-page {
    background-color: #f2f2f2; /* 뒤쪽 전체 회색 */
    font-family: Arial, sans-serif;
    max-width: 400px; /* 아이폰 기준 */
    margin: 0 auto;
    min-height: 100vh; /* 화면 전체 높이 확보 */
}

/* 상단 바 */
.header {
    background-color: #fff;       /* 헤더만 흰색 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px; 
    padding: 0 10px;
    position: sticky;             /* sticky로 고정 */
    top: 0;                       /* 상단 기준 */
    z-index: 100;    
}


.header h1 {
    color: #444444;
    font-size: 20px;
    margin: 0;
}

/* 버튼 공통 */
.back-btn, .edit-btn {
    background: none;       /* 배경 제거 */
    border: none;           /* 테두리 제거 */
    margin: 13px;
    padding: 0;             /* 패딩 제거 */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 버튼 안 이미지 크기 */
.back-btn img{
    width: 20px;   /* 필요에 따라 조절 */
    height: 20px;
}

.edit-btn img {
    width: 24px;   /* 필요에 따라 조절 */
    height: 24px;
}

/* 건의사항 목록 영역 */
.suggestion-list {
    padding: 1.25rem;
    margin-top: 15px; /* 헤더 바로 아래 */
    border-radius: 0px;
}
